@model iTechArt.Labs.iTechArtSurvey.Web.Models.UserEditViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit user</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <fieldset class="form-group">
            <legend>Role</legend>
            @{
                foreach (var role in ViewBag.Roles)
                {
                    <div class="form-check col-md-10">
                        <label class="form-check-label">
                            <input type="radio"
                                   class="form-check-input"
                                   name="Roles"
                                   id="@role"
                                   value="@role"
                                   @if (Model.Roles.Contains(role)) { @Html.Raw("checked")   }>
                            @role
                        </label>
                    </div>
                }
            }
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
                }

<div>
    @Html.ActionLink("Back to users", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
